// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #2D767F;
$secondary-color: #FFF;
$inactive-color: #ddd;

.leaflet-container {
  height: 400px;
  width: 1000px;
  margin: 50px;
}

.panel-group {
  margin-top: 55px;
}

.btn-active {
  color: $primary-color;
  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    color: $primary-color;
  }
}

.btn-inactive {
  color: $inactive-color;
  &:hover, &:active:hover {
    color: $primary-color;
  }
  &:active, &:focus, &:active:hover, &:active:focus {
    color: $inactive-color;
  }
}
