// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Coolors Exported Palette - coolors.co/984447-d38b5d-2c497f-68b0ab-696d7d */

/* HSL */
$color1: hsla(358%, 38%, 43%, 1);
$color2: hsla(23%, 57%, 60%, 1);
$color3: hsla(219%, 49%, 34%, 1);
$color4: hsla(176%, 31%, 55%, 1);
$color5: hsla(228%, 9%, 45%, 1);

/* RGB */
$color1: rgba(152, 68, 71, 1);
$color2: rgba(211, 139, 93, 1);
$color3: rgba(44, 73, 127, 1);
$color4: rgba(104, 176, 171, 1);
$color5: rgba(105, 109, 125, 1);

$primary-color: #45cbbf;
$secondary-color: #FFF;
$active-color: #348a82;
$inactive-color: #ddd;

$break-xs: 575px;
$break-sm: 767px;
$break-md: 991px;

.btn-active {
  color: $active-color;
  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    color: $active-color;
  }
}

.btn-group.hour-group button {
  width: 33%;
}

.btn-inactive {
  color: $inactive-color;
  &:hover, &:active:hover {
    color: $active-color;
  }
  &:active, &:focus, &:active:hover, &:active:focus {
    color: $inactive-color;
  }
}

.menu-item {
  display: inline-block;
  width: 50%;
  text-transform: capitalize;
}

.event-string {
  display: inline-block;
}

.filter-group {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.leaflet-container {
  height: 88%;
  width: 100%;
  max-width: 40vw;
  position: fixed;
  margin-top: 55px;

  @media screen and (max-width: $break-md) {
    max-width: 74vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-icon-label {
  color: $secondary-color;
  display: inline-block;
  vertical-align: middle;
}

.navbar-form {
  text-align: center;
}

.navbar-main {
  background-color: $primary-color;
}

.navbar-default .navbar-toggle {
  background-color: $secondary-color;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    background-color: $secondary-color;
  }

  &.collapsed {
    background-color: $primary-color;
    &:hover, &:active:hover {
      background-color: $secondary-color;
    }
  }
}

.panel-group {
  margin-top: 55px;
}

.place-neighborhood, .place-title, {
  display: inline-block;
}

.place-neighborhood {
  color: #858177;
  font-style: italic;
  margin: 7px;
  float: right;
}

.place-address {
  font-size: 14px;
}

.list-btn {
  position: fixed;
  margin-top: 55px;
  right: 10px;
  top: 0;
}
