// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto');

$highlight-font: 'Roboto', sans-serif;
$main-font: 'Open Sans', sans-serif;

$primary-color: #516391;

$secondary-color: #FFF;
$active-color: #FFF;
$inactive-color: rgba(138, 189, 185, 1);;

$break-xs: 575px;
$break-sm: 767px;
$break-md: 991px;

.body-container {
  margin-top: 50px;
}

.body-container {
  margin-top: 50px;
}

.btn-active {
  color: $active-color;
  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    color: $active-color;
  }
}

.btn-group.hour-group button {
  width: 33%;
}

.btn-inactive {
  color: $inactive-color;
  &:hover, &:active:hover {
    color: $active-color;
  }
  &:active, &:focus, &:active:hover, &:active:focus {
    color: $inactive-color;
  }
}

.menu-item {
  display: inline-block;
  width: 50%;
  text-transform: capitalize;
}

.event-string {
  display: inline-block;
}

.filter-group {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.form-control {
  display: inline-block;
  width: auto;
}

.leaflet-container {
  height: 80%;
  width: 100%;
  max-width: 40vw;
  position: fixed;
  margin-top: 55px;

  @media screen and (max-width: $break-md) {
    max-width: 74vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-icon-label {
  color: $secondary-color;
  display: inline-block;
  vertical-align: middle;
}

.navbar-form {
  // text-align: center;
  border: 0;
  padding: 0;
}

.navbar-main {
  background-color: $primary-color;
}

.navbar-lower {
  margin-top: 50px;
}

.navbar-lower {
  margin-top: 50px;
}

.navbar-default .navbar-toggle {
  background-color: $secondary-color;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    background-color: $secondary-color;
  }

  &.collapsed {
    background-color: $primary-color;
    &:hover, &:active:hover {
      background-color: $secondary-color;
    }
  }
}

.panel-group {
  margin-top: 55px;
}

.place-neighborhood, .place-title, {
  display: inline-block;
}

.place-neighborhood {
  color: #858177;
  font-style: italic;
  margin: 7px;
  float: right;
}

.place-address {
  font-size: 14px;
}

.list-btn {
  position: fixed;
  margin-top: 55px;
  right: 10px;
  top: 0;
}
